@charset "utf-8";
/* CSS Document */

@font-face {
    font-family: 'vogueregular';
    src: url('../fonts/vogueWebfont.woff2') format('woff2'),
         url('../fonts/vogueWebfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;

}

@font-face {
    font-family: 'amsiprobold';
    src: url('../fonts/amsiproBoldWebfont.woff2') format('woff2'),
         url('../fonts/amsiproBoldWebfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;

}

.mainBody {
    min-width: 780px;
    background-image:url(../assets/bgOverlay.png);
    margin: 0px;
    transition: 1s;
}

.headerPlaceBG {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 241px;
    background: #1b1b1b;
    transition: 1s;
}

.imageContainer {
    display: flex;
    justify-content: center;
    width: 90%;
    margin-left: auto;
    margin-right: auto;
    height: max-content;
}

#carImage {
    margin: 50px;
    width: 1080px;
    border-radius: 20px;
}

#featuredCarTitle {
    position: absolute;
    top: 330px;
    background: rgba(255, 255, 255, 0.15);
    width: max-content;
    text-align: center;
    border-top-style: solid;
    border-bottom-style: solid;
    text-shadow: 0px 6px 9.7px rgba(0, 0, 0, 0.66);
    font-family: vogueregular;
    font-weight: 400;
    font-size: 3em;
    color: #1b1b1b;
    padding-top: 8px;
}

.carInfoTitleContainer {
    width: max-content;
    margin-left: auto;
    margin-right: auto;
    background: #1b1b1b;
    border-radius: 100px;
}

.carInfoTitle {
    font-family: amsiprobold;
    font-weight: 400;
    font-size: 2em;
    color: #ffffff;
    padding-left: 15px;
    padding-right: 15px;
    padding-top: 5px;
    padding-bottom: 5px;
    text-align: center;
}

.carInfoContainer {
    display: flex;
    justify-content: space-around;
    align-items: center;
    width: 90%;
    margin-left: auto;
    margin-right: auto;
    height: max-content;
    background: #ffffff;
    border-radius: 30px;
}

#infoAno {
    font-family: amsiprobold;
    font-weight: 400;
    font-size: 1.5em;
    color: #1b1b1b;
    padding-left: 15px;
    padding-right: 15px;
    padding-top: 5px;
    padding-bottom: 5px;
    text-align: center;
}

#infoLugares {
    font-family: amsiprobold;
    font-weight: 400;
    font-size: 1.5em;
    color: #1b1b1b;
    padding-left: 15px;
    padding-right: 15px;
    padding-top: 5px;
    padding-bottom: 5px;
    text-align: center;
}

#infoGasolina {
    font-family: amsiprobold;
    font-weight: 400;
    font-size: 1.5em;
    color: #1b1b1b;
    padding-left: 15px;
    padding-right: 15px;
    padding-top: 5px;
    padding-bottom: 5px;
    text-align: center;
}

#infoCategoria {
    font-family: amsiprobold;
    font-weight: 400;
    font-size: 1.5em;
    color: #1b1b1b;
    padding-left: 15px;
    padding-right: 15px;
    padding-top: 5px;
    padding-bottom: 5px;
    text-align: center;
}